@font-face {
    font-family: 'thepeakfontplus';
    src: url('thepeakfontplusregular.ttf') format('truetype');
	font-style: normal;
    font-display: block;
}
body {
    font-family: 'thepeakfontplus';
}

